{% extends 'index.html' %}
{% block content %}
{% load static %}
{% include 'common/bootstrap.html'%}
<style>
    a{
        color: black;
    }
</style>
<form class="pt-5">
    <div class="p-2" style="border:solid; border-color: rgb(123, 123, 233); border-radius: 10px;">
        <div class="panel p-1">
            <h2 class="text-lg font-semibold dark:text-white-light p-1" style="background-color: rgb(138, 202, 167); border-radius: 9px;">
                <b>Update Rate</b></h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                <div class="p-1"> 
                    <label class="p-1">Project Name</label>
                    <select class="form-control" id="projectname" name="projectname">
                        <option value="">Select</option>
                        {% for project in projects %}
                        <option value="{{project.landsdetails.project.id}}">{{project.landsdetails.project.projectname}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="p-1">
                    <label class="p-1">Project Code</label>
                    <input type="text" name="nominee_age" placeholder="Employee Id" class="form-input" >
                </div>
            </div>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
                    <div class="p-1">
                        <label class="p-1">Dimension</label>
                        <select class="form-control" id="selectDimension" name="selectDimension" disabled>
                            <option>Select</option>
                        </select>
                    </div>
                    <div class="p-1">
                        <label class="p-1">Rate</label>
                        <input type="text" name="address1" placeholder="Document Accesss" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Total Site Amount</label>
                        <input type="text" name="city1" placeholder="Access Permission" class="form-input" >
                    </div> 
                </div>
            </div>
            <div class="text-center p-3">
                <input type="submit" value="Add Project" class="btn btn-primary">
                    <input type="reset" value="Clear" class="btn btn-danger">
            </div>
        </div>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>

    $('#projectname').on('change', function (event) {
        event.preventDefault();
        let id = this.value;
        if (this.value != '') {
            mydata = { id: id, csrfmiddlewaretoken: '{{ csrf_token }}' }
            $.ajax({
                url: "{% url 'get_dimension' %}",
                method: "POST",
                data: mydata,
                success: function (data) {
                    console.log(data);

                    $("#selectDimension").removeAttr("disabled");
                    $("#selectDimension option").remove();
                    $('#selectDimension').append($('<option></option>').val("").html("Select"))
                    $.each(data.values, function (i, p) {
                        $('#selectDimension').append($('<option></option>').val(p.id).html(p.plotsize));
                    });
                }
            })

        }

        else {
            $("#selectDimension").prop('disabled', 'disabled');
            $("#selectDimension option").remove();
            $('#selectDimension').append($('<option></option>').val("").html("Select"))
        }
    });
    $('#selectDimension').on('change', function (event) {
        event.preventDefault();
        let plot_id = this.value;
        let project_id = 1
        if (this.value != '') {
            mydata = { plot_id: plot_id, project_id: project_id, csrfmiddlewaretoken: '{{ csrf_token }}' }
            $.ajax({
                url: "{% url 'get_project_id' %}",
                method: "POST",
                data: mydata,
                success: function (data) {
                    console.log(data);

                
                }
            })

        }

        else {
            $("#selectDimension").prop('disabled', 'disabled');
            $("#selectDimension option").remove();
            $('#selectDimension').append($('<option></option>').val("").html("Select"))
        }
    });

</script>
{% endblock %}