{% extends 'page/commons/base.html' %}
{% block content %}
{% load static%}
<style>
    .additionl-text {
        display: block;
        font-size: 20px;
        color: #ffffff;
    }

/* Default styles for larger screens */
.elementor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.elementor-column {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
    position: relative;
}

.elementor-icon-box-wrapper {
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.elementor-icon-box-icon {
    font-size: 24px;
    margin-bottom: 10px;
}

.elementor-icon-box-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #da332e;
}

.elementor-icon-box-description {
    font-size: 14px;
    color: #0c0c0c;
}

@media screen and (max-width: 767px) {
    .elementor-container {
        justify-content: center;
    }

    .elementor-column {
        flex-basis: 100%;
    }

    .elementor-icon-box-wrapper {
        height: auto;
    }
    /* p{

    } */
}

@media (max-width: 767px) {
    .carousel-inner {
        margin-right: 0;
    }

    .carousel-item {
        width: 100%;
    }

    .carousel-caption {
        right: 10%;
        bottom: 10%;
        top: 5%;
        left: 10%;
        
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 10%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    .carousel-indicators {
        margin-right: 10%;
        margin-left: 10%;
    }
    #imglogo{
        height: 40px;
        width: 45px;
    }
}

</style>

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">

        <!-- Slide 1 -->
        <div class="carousel-item active" data-bs-interval="10000" style="object-fit: cover;">
            <img src="static/page/img/carousel-22.jpg" class="d-block w-100" alt="...">

            <!-- Additional content for Slide 1 -->
            <div class="carousel-caption" style="margin-top: -12%;">
                
                <p style="font-size: 200%;">WELCOME TO BSNL EMPLOYEES AND CITIZENS HOUSE BUILDING CO-OPERATIVE SOCIETY LTD</p>
                <p>ಸುಸ್ವಾಗತ ಬಿಎಸ್‌ಎನ್‌ಎಲ್ ಎಂಪ್ಲಾಯೀಸ್ ಅಂಡ್ ಸಿಟಿಜನ್ಸ್ ಹೌಸ್ ಬಿಲ್ಡಿಂಗ್ ಕೋ-ಆಪರೇಟಿವ್ ಸೊಸೈಟಿ ಲಿ</p>

                <div class="input-group" style="align-items: center; margin-left: 1%; margin-top: 10%;">
                    <div class="chart" style="margin-right: 5%;">
                        <h2 class="percent" id="counter">{{count}}</h2>
                        <h5 id="h5font">HAPPY CUSTOMER </h5>
                    </div>
                    <div class="chart"  style="margin-right: 5%;">
                        <h2 class="percent" id="counter1">{{data.count}}</h2>
                        <h5 id="h5font">PROPERTIES IN STOCK</h5>
                    </div>
                    <div class="chart" style="margin-right: 5%;">
                        <h2 class="percent" id="counter2">10</h2>
                        <h5 id="h5font">CITY REGISTERED</h5>
                    </div>
                    <div class="chart" style="margin-right: 3   %;">
                        <h2 class="percent" id="counter2">10</h2>
                        <h5 id="h5font">CITY REGISTERED</h5>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" data-bs-interval="2000" style="object-fit: cover;">
            <img src="static/page/img/carousel-11.jpg" class="d-block w-100" alt="...">

            <!-- Additional content for Slide 2 -->
            <div class="carousel-caption" style="margin-top: -12%;">
                
                <p style="font-size: 200%;">WELCOME TO BSNL EMPLOYEES AND CITIZENS HOUSE BUILDING CO-OPERATIVE SOCIETY LTD</p>
                <p>ಸುಸ್ವಾಗತ ಬಿಎಸ್‌ಎನ್‌ಎಲ್ ಎಂಪ್ಲಾಯೀಸ್ ಅಂಡ್ ಸಿಟಿಜನ್ಸ್ ಹೌಸ್ ಬಿಲ್ಡಿಂಗ್ ಕೋ-ಆಪರೇಟಿವ್ ಸೊಸೈಟಿ ಲಿ</p>

                <div class="input-group" style="align-items: center; margin-left: 1%; margin-top: 10%;">
                    <div class="chart" style="margin-right: 5%;">
                        <h2 class="percent" id="counter">{{count}}</h2>
                        <h5 id="h5font">HAPPY CUSTOMER </h5>
                    </div>
                    <div class="chart"  style="margin-right: 5%;">
                        <h2 class="percent" id="counter1">{{data.count}}</h2>
                        <h5 id="h5font">PROPERTIES IN STOCK</h5>
                    </div>
                    <div class="chart" style="margin-right: 5%;">
                        <h2 class="percent" id="counter2">10</h2>
                        <h5 id="h5font">CITY REGISTERED</h5>
                    </div>
                    <div class="chart" style="margin-right: 3   %;">
                        <h2 class="percent" id="counter2">10</h2>
                        <h5 id="h5font">CITY REGISTERED</h5>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="object-fit: cover;">
            <img src="static/page/img/carousel-22.jpg" class="d-block w-100" alt="...">

            <!-- Additional content for Slide 3 -->
            <div class="carousel-caption" style="margin-top: -12%;">
                
                <p style="font-size: 200%;">WELCOME TO BSNL EMPLOYEES AND CITIZENS HOUSE BUILDING CO-OPERATIVE SOCIETY LTD</p>
                <p>ಸುಸ್ವಾಗತ ಬಿಎಸ್‌ಎನ್‌ಎಲ್ ಎಂಪ್ಲಾಯೀಸ್ ಅಂಡ್ ಸಿಟಿಜನ್ಸ್ ಹೌಸ್ ಬಿಲ್ಡಿಂಗ್ ಕೋ-ಆಪರೇಟಿವ್ ಸೊಸೈಟಿ ಲಿ</p>

                <div class="input-group" style="align-items: center; margin-left: 1%; margin-top: 10%;">
                    <div class="chart" style="margin-right: 5%;">
                        <h2 class="percent" id="counter">{{count}}</h2>
                        <h5 id="h5font">HAPPY CUSTOMER </h5>
                    </div>
                    <div class="chart"  style="margin-right: 5%;">
                        <h2 class="percent" id="counter1">{{data.count}}</h2>
                        <h5 id="h5font">PROPERTIES IN STOCK</h5>
                    </div>
                    <div class="chart" style="margin-right: 5%;">
                        <h2 class="percent" id="counter2">10</h2>
                        <h5 id="h5font">CITY REGISTERED</h5>
                    </div>
                    <div class="chart" style="margin-right: 3   %;">
                        <h2 class="percent" id="counter2">10</h2>
                        <h5 id="h5font">CITY REGISTERED</h5>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- The End -->



<!-- START -->
<!-- <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000" style="object-fit: cover;">
            <img src="static/page/img/carousel-22.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item" data-bs-interval="2000" style="object-fit: cover;">
            <img src="static/page/img/carousel-11.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item" style="object-fit: cover;">
            <img src="static/page/img/carousel-22.jpg" class="d-block w-100" alt="...">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> -->
<!-- END -->



<!-- Category End -->
<!-- About Start -->
<div class="container-xxl py-5" id="about">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="static/page/img/about.jpg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">About Us</h1>
                <p class="mb-4" style="line-height: 1.85714285714286">The official website of "BSNL EMPLOYEES AND
                    CITIZENS HOUSE BUILDING CO-OPERATIVE SOCIETY LTD" for
                    buying "BSNL Society Plots" near International Airport, Devanahalli, Bangalore. The BSNL Housing
                    Society is registered under the co-operative society's act with the Registration Number
                    HSG-2/12/HHS/46469/2014-15.</p>
                <p style="line-height: 1.85714285714286">BSNL Housing Society’s Layout is formed strictly under adhering
                    to the rules and regulations of the Registered Co-Operative Society (RCS) and Bangalore
                    International Airport Area Planning Authority (BIAAPA) norms and specifications, hence every detail
                    of the society will be monitored by the Authorised Departments.</p>
                <p style="font-size: large;"><i class="fa fa-check text-primary me-3"></i><b>Registration Number:</b>
                    HSG-2/12/HHS/46469/2014-15</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="/page/about">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Property List Start -->
<div class="container-xxl py-5" id="property">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">Property Listing</h1>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="tab-content">

            <div id="tab-1" class="tab-pane fade show p-0 active">

                <div class="row g-4">
                    {% for mydata in projects %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{mydata.images.url}}" alt=""></a>
                                <div
                                    class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    {%if mydata.status == 0 %}
                                    Completed
                                    {% else %}
                                    For Sale
                                    {% endif %}</div>
                                <div
                                    class="bg-white rounded-top text-plots position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Plots</div>
                            </div>
                            <div class="p-4 pb-0">
                                <a class="d-block h5 mb-2" href="">{{mydata.projectname}}</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{mydata.address}}</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><a href="static/page/1.pdf"><i
                                            class="fa fa-eye text-primary me-2" aria-hidden="true"></i>Layouts
                                        Plan</a></small>
                                <small class="flex-fill text-center border-end py-2 "><a data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop"><i
                                            class="fa fa-ruler-combined text-primary me-2"></i>Location</a></small>

                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered model-xl">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="modal-header">

                                                </div>
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Location</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="col-md-12 ">
                                                    <div class="mapouter">
                                                        <div class="gmap_canvas"><iframe class="gmap_iframe"
                                                                frameborder="0" scrolling="no" marginheight="0"
                                                                marginwidth="0"
                                                                src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=techvaraha&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                                                        </div>
                                                        <style>
                                                            .mapouter {
                                                                position: relative;
                                                                text-align: left;
                                                                width: 60px;
                                                                height: 400px;
                                                            }

                                                            .gmap_canvas {
                                                                overflow: hidden;
                                                                background: none !important;
                                                                width: 600px;
                                                                height: 400px;
                                                            }

                                                            .gmap_iframe {
                                                                width: 450px !important;
                                                                height: 400px !important;
                                                            }
                                                        </style>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <small class="flex-fill text-center py-2 "><a data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop1{{mydata.id}}"><i
                                            class="fa fa-tags  text-primary me-2"></i>Price</a></small>

                                <div class="modal fade" id="staticBackdrop1{{mydata.id}}" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl ">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel1">Price Tags</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Plotsize</th>
                                                            <th scope="col">Total Amount</th>
                                                            <th scope="col">First Installment</th>
                                                            <th scope="col">Second Installment</th>
                                                            <th scope="col">Thrid Installment</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for i in mydata.landdetails_set.all %}
                                                        <tr>
                                                            <th scope="row">{{i.plotsize.plotsize}}</th>
                                                            <td>₹{{i.total_amount}}</td>
                                                            <td>{% if i.installment_1 != '' %}
                                                                ₹{{ i.installment_1}}
                                                                {% else %}
                                                                -----
                                                                {% endif %}</td>
                                                            <td>{% if i.installment_2 != '' %}
                                                                ₹{{ i.installment_2}}
                                                                {% else %}
                                                                -----
                                                                {% endif %}</td>
                                                            <td>{% if i.installment_3 != '' %}
                                                                ₹{{ i.installment_3}}
                                                                {% else %}
                                                                -----
                                                                {% endif %}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>

            </div>

        </div>
    </div>
</div>
<!-- Property List End -->
<!--Completed project list-->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">Completed Project Listing</h1>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="tab-content">

            <div id="tab-1" class="tab-pane fade show p-0 active">

                <div class="row g-4">
                    {% for mydata in complete %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{mydata.images.url}}" alt=""></a>
                                <div
                                    class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    {%if mydata.status == 0 %}
                                    Completed
                                    {% else %}

                                    {% endif %}
                                </div>
                                <div
                                    class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Plots</div>
                            </div>
                            <div class="p-4 pb-0">
                                <a class="d-block h5 mb-2" href="">{{mydata.projectname}}</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{mydata.address}}</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><a href="static/page/1.pdf"><i
                                            class="fa fa-eye text-primary me-2" aria-hidden="true"></i>Layouts
                                        Plan</a></small>
                                <small class="flex-fill text-center border-end py-2 "><a data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop"><i
                                            class="fa fa-ruler-combined"></i>Location</a></small>

                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered model-xl">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="modal-header">

                                                </div>
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Location</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="col-md-12 ">
                                                    {{mydata.gmap.url}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <small class="flex-fill text-center py-2 "><a data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop1{{mydata.id}}"><i
                                            class="fa fa-tags  text-primary me-2"></i>Price</a></small>

                                <div class="modal fade" id="staticBackdrop1{{mydata.id}}" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-xl ">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel1">Price Tags</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Plotsize</th>
                                                            <th scope="col">Total Amount</th>
                                                            <th scope="col">First Installment</th>
                                                            <th scope="col">Second Installment</th>
                                                            <th scope="col">Thrid Installment</th>
                                                            {% for i in mydata.landdetails_set.all %}
                                                            <th scope="col">{% if i.installment_4 != null%}
                                                                Fourth Installment
                                                                {% else %}

                                                                {% endif %}</th>
                                                            <th scope="col">{% if i.installment_5 != null%}
                                                                Fifth Installment
                                                                {% else %}

                                                                {% endif %}</th>
                                                            {%endfor%}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for i in mydata.landdetails_set.all %}
                                                        <tr>
                                                            <th scope="row">{{i.plotsize.plotsize}}</th>
                                                            <td>₹{{i.total_amount}}</td>
                                                            <td>₹{% if i.installment_1 != null%}
                                                                {{ i.installment_2}}
                                                                {% else %}
                                                                -----
                                                                {% endif %}</td>
                                                            <td>₹{% if i.installment_2 != null%}
                                                                {{ i.installment_2}}
                                                                {% else %}
                                                                -----
                                                                {% endif %}</td>
                                                            <td>₹{% if i.installment_3 != null%}
                                                                {{ i.installment_2}}
                                                                {% else %}
                                                                -----
                                                                {% endif %}</td>
                                                            <td>{% if i.installment_4 != null%}
                                                                {{i.installment_4}}
                                                                {% else %}

                                                                {% endif %}</td>
                                                            <td>{% if i.installment_5 != null%}
                                                                {{i.installment_5}}
                                                                {% else %}

                                                                {% endif %}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>

            </div>

        </div>
    </div>
</div>

<iframe id="ytplayer" width="100%" height="315" src="https://www.youtube.com/embed/op1PGRTPtM0?autoplay=1"
    frameborder="0" allowfullscreen></iframe>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Our Clients Say!</h1>
            <p></p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            {% for myvalue in value%}
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>{{myvalue.messages}}</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="/static/images/avatar.jpg"
                            style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">{{myvalue.name }}</h6>
                            <small>{{myvalue.subject}}</small>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
<div class="p-5 m-5">
    <div>
        <h2 style="color: #0c0c0c;">Six Reasons For People Choosing Us</h2>
    </div>


    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-element-377b71b" data-id="377b71b" data-element_type="column"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-element elementor-element-b2c8bb1 elementor-view-default elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                data-id="b2c8bb1" data-element_type="widget" data-widget_type="icon-box.default">
                <div class="elementor-widget-container">
                    <div class="elementor-icon-box-wrapper">
                        <div class="elementor-icon-box-icon">
                            <span class="elementor-icon elementor-animation-">
                                <i aria-hidden="true" class="fas fa-award"></i> </span>
                        </div>
                        <div class="elementor-icon-box-content">
                            <h6 class="elementor-icon-box-title">
                                <span>
                                    Committed </span>
                            </h6>
                            <p class="elementor-icon-box-description">
                                The biggest commitment we keep is our commitment to ourself to deliver the projects
                                on-time </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-element-ba4a7c6" data-id="ba4a7c6" data-element_type="column"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-element elementor-element-4b5299a elementor-view-default elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                data-id="4b5299a" data-element_type="widget" data-widget_type="icon-box.default">
                <div class="elementor-widget-container">
                    <div class="elementor-icon-box-wrapper">
                        <div class="elementor-icon-box-icon">
                            <span class="elementor-icon elementor-animation-">
                                <i aria-hidden="true" class="far fa-check-circle"></i> </span>
                        </div>
                        <div class="elementor-icon-box-content">
                            <h6 class="elementor-icon-box-title">
                                <span>
                                    Trustworthy </span>
                            </h6>
                            <p class="elementor-icon-box-description">
                                We believe that the Trust is the highest form of human motivation. It brings out the
                                very best in people. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column" data-id="1e3bdab" data-element_type="column"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-element elementor-element-506e9b5 elementor-view-default elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                data-id="506e9b5" data-element_type="widget" data-widget_type="icon-box.default">
                <div class="elementor-widget-container">
                    <div class="elementor-icon-box-wrapper">
                        <div class="elementor-icon-box-icon">
                            <span class="elementor-icon elementor-animation-">
                                <i aria-hidden="true" class="far fa-user"></i> </span>
                        </div>
                        <div class="elementor-icon-box-content">
                            <h6 class="elementor-icon-box-title">
                                <span>
                                    Trained Workers </span>
                            </h6>
                            <p class="elementor-icon-box-description">
                                We believe that The way our employees feel is the way our customers will feel. And
                                if
                                our employees don’t feel valued, neither will our customers </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-element-deb70ec" data-id="deb70ec" data-element_type="column"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-element elementor-element-890cea2 elementor-view-default elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box elementor-icon-box-description"
                data-id="890cea2" data-element_type="widget" data-widget_type="icon-box.default">
                <div class="elementor-widget-container">
                    <div class="elementor-icon-box-wrapper">
                        <div class="elementor-icon-box-icon">
                            <span class="elementor-icon elementor-animation-">
                                <i aria-hidden="true" class="far fa-clock"></i> </span>
                        </div>
                        <div class="elementor-icon-box-content">
                            <h6 class="elementor-icon-box-title">
                                <span>
                                    Values &amp; Ethics </span>
                            </h6>
                            <p class="elementor-icon-box-description">
                                We believe that It is easy to dodge our responsibilities, but we cannot dodge the
                                consequences of dodging our responsibilities. </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="elementor-column elementor-element-de407ae" data-id="de407ae" data-element_type="column"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-element elementor-element-3cfda96 elementor-view-default elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                data-id="3cfda96" data-element_type="widget" data-widget_type="icon-box.default">
                <div class="elementor-widget-container">
                    <div class="elementor-icon-box-wrapper">
                        <div class="elementor-icon-box-icon">
                            <span class="elementor-icon elementor-animation-">
                                <i aria-hidden="true" class="fas fa-phone-volume"></i> </span>
                        </div>
                        <div class="elementor-icon-box-content">
                            <h6 class="elementor-icon-box-title">
                                <span>
                                    Quick Response </span>
                            </h6>
                            <p class="elementor-icon-box-description">
                                We believe that Quick and positive response makes businesses to run smoother and
                                gain
                                trust </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="elementor-column elementor-element-6ce642d" data-id="6ce642d" data-element_type="column"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div>
                <div class="elementor-element elementor-element-bb38fd6 elementor-view-default elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                    data-id="bb38fd6" data-element_type="widget" data-widget_type="icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-icon-box-wrapper">
                            <div class="elementor-icon-box-icon">
                                <span class="elementor-icon elementor-animation-">
                                    <i aria-hidden="true" class="fas fa-certificate"></i> </span>
                            </div>
                            <div class="elementor-icon-box-content">
                                <h6 class="elementor-icon-box-title">
                                    <span>
                                        Customer Satisfaction </span>
                                </h6>
                                <p class="elementor-icon-box-description">
                                    We put our customers' expectations at the heart of our business. Customer
                                    satisfaction
                                    and loyalty are our main indicators. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
{% endblock %}