{% extends 'index.html'%}
{% block content %}
{% load static %}
{% include 'common/bootstrap.html'%}
<style>
    a {
        color: black;
        text-decoration: none;
    }
</style>

<form method="POST" action="" class="space-y-5" autocomplete="off">
    {% csrf_token %}
    <div class="pt-2 mt-3" style=" box-shadow:0px 0px 5px #007bff; border-radius: 10px;">
        <div class="panel p" id="container">
            <h1 class="text-lg dark:text-white-light p-2 font-weight-bold mt-4 addproject"
                style="background-color: #178EF0;color:white; width:100%;"><center><b>UPDATE SITE VISIT</b></center></h1>
            <div id="form" class="panel p-1 mt-3">
                <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
                    <div class="p-1">
                        <label class="p-1">Date of SV</label>
                        <input type="date" name="date_of_visit" placeholder="Date of Sv" class="form-input"
                            value="{{update.date_of_site_visit|date:'Y-m-d'}}" required>
                    </div>
                    <div class="p-1">
                        <label class="p-1">Cust Name</label>
                        <input class="form-input" type="text" name="cust_name" placeholder="Cust Name"
                            value="{{update.cust_name}}" required>
                    </div>
                    <div class="p-1">
                        <label class="p-1">Phone No</label>
                        <input type="number" name="phone_no" placeholder="Phone No" class="form-input"
                            value="{{update.phone_no}}" required>
                    </div>
                    <div class="p-1">
                        <label class="p-1">Executive</label>
                        <select class="form-control" name="executive" id="executive">
                            <option>Select</option>
                            {% for data in exective%}
                            <option value="{{data.id}}">{{data.first_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="p-1">
                        <label class="p-1">SO Done by</label>
                        <input type="text" name="so_done_by" placeholder="So Done by" class="form-input"
                            value="{{update.so_done_by}}" required>
                    </div>
                    <div class="p-1">
                        <label class="p-1">SV Done By</label>
                        <input type="text" name="sv_done_by" placeholder="Sv Done By" class="form-input"
                            value="{{update.sv_don_by}}" required>
                    </div>
                    <div class="p-1">
                        <label class="p-1">SV Status</label>
                        <select class="form-control" name="sv_status" required>
                            <option value="{{update.sv_status}}" >{{update.sv_status}}</option>
                            <option>Select</option>
                            <option value="Booked">Booked</option>
                            <option value="Not Interested">Not Interested</option>
                        </select>

                    </div>
                    <div class="p-1">
                        <label class="p-1">SV Category</label>
                        <select class="form-control" name="sv_category" required>
                            <option value="{{update.sv_category}}" >{{update.sv_category}}</option>
                            <option>Select</option>
                            <option value="BOTH">BOTH</option>
                            <option value="DSVD">DSVD</option>
                            <option value="SOD ONLY">SOD ONLY</option>
                            <option value="SVD ONLY">SVD ONLY</option>
                            <option value="EH">EH</option>
                        </select>
                    </div>
                    <div class="p-1">
                        <label class="p-1">Source</label>
                        <select class="form-control" name="source" required>
                            <option value="{{update.source}}" >{{update.source}}</option>
                            <option>Select</option>
                            <option value="SMS">SMS</option>
                            <option value="PAMPHLET">PAMPHLET</option>
                            <option value="REFERENCE">REFERENCE</option>
                            <option value="WALK-IN">WALK-IN</option>
                        </select>
                    </div>
                    <div class="p-1">
                        <label class="p-1">Booked On</label>
                        <input type="date" name="booked_no" value="{{update.booked_no|date:'Y-m-d'}}" placeholder="Booked On" class="form-input">
                    </div>
                    <div class="p-1">
                        <label class="p-1">Booked Sry NO</label>
                        <input type="text" name="booked_sry_no" placeholder="Booked Sry NO" class="form-input">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-5" name="action" value="create_order">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}