{% extends 'index.html' %}

{% block content %}
<style>
    h1 {
        font: 20px
    }
    .plotsize{
        width: 50%;
        font-size: 15px;
        padding: 7px 0px;
        border: 1px solid lightgray;
        border-radius: 0%;
    }
    .search{
        width:30%;
        float: right;
    }
    
    
    .search_size{
        border: 2px solid rgb(247, 243, 243);
        border-radius: 15px;
    }
</style>

<div  class="panel">
    <h2 class="text-lg font-semibold dark:text-white-light p-1" 
    style="background-color: rgb(188, 188, 224); border-radius: 9px;">
    <b>Active Members</b></h2>
    <label class="p-2" for="browser">Choose your browser from the list:</label>
    <select class="plotsize p-1" id="inputfield">
        <option>--Select Option--</option>
        <option value="Project Wise">Bookings Details</option>
        <option value="Year Wise">Personal Details</option>
    </select>

   <!-- #<div class="table-responsive" id="mytable" style="display: none;margin-left:auto;margin-right:auto;"></div> -->
    <div class="table-responsive pt-3" id="mytable" style="display: show;"> 
        <h2 class="text-lg font-semibold dark:text-white-light p-1" 
        style="background-color: rgb(188, 224, 198); border-radius: 9px; text-align: center;">
        <b>Booking Details</b></h2>
        <div class="relative search mt-2">
            <input type="text" placeholder="Search Details..." class="form-input search_size" />
            <button type="button" class="btn absolute ltr:right-1 rtl:left-1 inset-y-0 m-auto rounded-full w-9 h-9 p-0 flex items-center justify-center"style="border-color:white">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                </svg>
            </button>
        </div><br>
        <div class="table-responsive p-2 mt-8">
            <table  class="emInfo responsive">
                <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>Customer Name</th>
                        <th>Seniority</th>
                        <th>Date of Booking</th>
                        <th>Am No</th>
                        <th>Moblie No</th>
                        <th>Email id</th>
                        <th>Executive</th>
                        <th>Active</th>
                        <th>Dimensive</th>
                        <th>Amount Paid</th>
                        <th>Balance Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
          
                  {% for mydata in user %}
                    <tr>
                        <td>{{mydata.id}}</td>
                        <td>{{mydata.first_name}}</td>
                        {% for value in userdet %}
                            <td>{{value.seniorityno_id}}</td>
                            <td>{{value.dateofbooking}}</td>
                            <td>{{value.amount}}</td>
                        {%endfor%}
                        <td>{{mydata.mobile_no}}</td>
                        <td>{{mydata.email}}</td>
                        <td></td>
                        <td>{{mydata.active}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="center">
                            <a href="update_data/{{mydata.id}}" class="btn btn-outline-success btn-sm">Update</a>
                            <a href="" onclick="confirmDelete()" class="btn btn-outline-danger btn-sm">Delete</a>
                          </td>
                    </tr>
                    <script>
                        function confirmDelete() {
                          if (confirm("Are you sure you want to delete this item?")) {
                            // If the user confirms, redirect to the delete URL
                            window.location.href = "delete_data/{{mydata.id}}";
                          }
                        }
                      </script>
                  {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <!--year Wise-->
    <div class="table-responsive pt-3" id="project" style="display: none;">
        <h2 class="text-lg font-semibold dark:text-white-light p-1" 
        style="background-color: rgb(188, 224, 198); border-radius: 9px; text-align: center;">
        <b>Personal Details</b></h2>
        <div class="relative search mt-2">
            <input type="text" placeholder="Search Details..." class="form-input search_size" />
            <button type="button" class="btn absolute ltr:right-1 rtl:left-1 inset-y-0 m-auto rounded-full w-9 h-9 p-0 flex items-center justify-center"style="border-color:white">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                </svg>
            </button>
        </div><br>
        <div class=" table-responsive pt-3 mt-8">
            <table class="responsive pt-3">
                <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>Customer Name</th>
                        <th>Seniority</th>
                        <th>Father/Husband Name</th>
                        <th>Date of Birth</th>
                        <th>Pan No</th>
                        <th>Aadhaar No</th>
                        <th>Nominee Name</th>
                        <th>Nominee Age</th>
                        <th>Nomiee Relationship</th>
                        <th>Nomiee Address</th>
                        <th>Family Member Name</th>
                        <th>Family Memeber Age</th>
                        <th>Family Member Relationship</th>
                        <th>Passport Size Photograp</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
              
                    {% for mydata in user %}
                      <tr>
                          <td>{{mydata.id}}</td>
                          <td>{{mydata.first_name}}</td>
                          {% for value in userdet %}
                              <td>{{value.seniorityno_id}}</td>
                              <td>{{value.dateofbooking}}</td>
                              <td>{{value.amount}}</td>
                          {%endfor%}
                          <td>{{mydata.mobile_no}}</td>
                          <td>{{mydata.email}}</td>
                          <td></td>
                          <td>{{mydata.active}}</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td align="center">
                              <a href="update_data/{{mydata.id}}" class="btn btn-outline-success btn-sm">Update</a>
                              <a href="" onclick="confirmDelete()" class="btn btn-outline-danger btn-sm">Delete</a>
                            </td>
                      </tr>
                      <script>
                          function confirmDelete() {
                            if (confirm("Are you sure you want to delete this item?")) {
                              // If the user confirms, redirect to the delete URL
                              window.location.href = "delete_data/{{mydata.id}}";
                            }
                          }
                        </script>
                    {%endfor%}
                  </tbody>
            </table>
        </div>
    </div>
</div>
<script>

    const inputField = document.getElementById('inputfield');
    const myTable = document.getElementById('mytable');
    const Project = document.getElementById('project');


    inputField.addEventListener('input', function () {
        if (inputField.value === 'Project Wise') {
            myTable.style.display = "block";// Show the table
            Project.style.display = 'none';
        } else if (inputField.value === 'Year Wise') {
            myTable.style.display = 'none';// Show the table
            Project.style.display = "block";
        } else {
            myTable.style.display = 'none';
            Project.style.display = 'none';
        }
    });
</script>
{% endblock %}