{% extends 'index.html' %}
{% block content %}
{% load static %}
{% include 'bootstrap.html' %}

<style>
    a{
        color:black;
    }
</style>
<div class="container">
    <h6></h6>
    <div class="table-responsive pt-3" id="mytable" style="display: show;"> 
        <h2 class="text-lg font-semibold dark:text-white-light p-1" 
        style="background-color: rgb(188, 224, 198); border-radius: 9px; text-align: center;">
        <b>Site Booking Confirmation</b></h2>
        <div class=" p-2">
            <table  class="emInfo">
                <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>Customer Name</th>
                        <th>Seniority</th>
                        <th>Project Name/size</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>  
                   
                    <tr>
                        <!-- <td>{{mydata.id}}</td>12
                        <td>{{mydata.first_name}}.{{mydata.last_name}}</td>234
                        <td>{{value.seniorityno_id}}</td> -->
                        <!-- {% for value in project%}
                        <td>{{value.projectname}}/{{value.plotsize}}</td>
                        {%endfor%} -->
                        <!-- <td>{{mydata.mobile_no}}</td>
                        <td>{{mydata.email}}</td>
                        <td>{{mydata.status}}</td> -->
                        <td>323</td>
                        <td>muthu</td>
                        <td>347834</td>
                        <td>project1</td>
                        <td>120000</td>
                        <td>active</td>
                        <td>
                            <center>
                                <a href="/reports/confirmletter_view">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1.25em" viewBox="0 0 384 512">
                                        <path d="M64 464c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16H224v80c0 17.7 14.3 32 32 32h80V448c0 8.8-7.2 16-16 16H64zM64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V154.5c0-17-6.7-33.3-18.7-45.3L274.7 18.7C262.7 6.7 246.5 0 229.5 0H64zm56 256c-13.3 0-24 10.7-24 24s10.7 24 24 24H264c13.3 0 24-10.7 24-24s-10.7-24-24-24H120zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24H264c13.3 0 24-10.7 24-24s-10.7-24-24-24H120z"/>
                                    </svg>
                                </a>
                            </center>
                          </td>
                    </tr>
                
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}