{% extends 'index.html'%}
{% block content %}
{% load static %}
{% load widget_tweaks %}
{% include 'bootstrap.html' %}

<style>
      a{
        color:black
    }
</style>
<div class="panel mt-6">
  <div class="table-responsive">
    <table>
      <thead>
          <tr>
              <th>S.NO</th>
              <th>Customer Name</th>
              <th>Date of Receipt</th>
              <th>Receipt No</th>
              <th>Amount</th>
              <th>Pay Status</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
        {% for mydata in details %}
          <tr>
              <td>{{mydata.id}}</td>
              <td>{{mydata.booking.user.email}}</td>
              <td>{{mydata.dateofreceipt}}</td>
              <td>{{mydata.receipt_no}}</td>
              <td>{{mydata.amount}}</td>
              <td>{{mydata.paystatus}}</td>
              <td align="center">
                  <a href="update_data/{{mydata.id}}" class="btn btn-outline-success btn-sm">Update</a>
                  <a href="deletereceipts/{{mydata.id}}" class="btn btn-outline-danger btn-sm">Delete</a>
                </td>
          </tr>
        {%endfor%}
      </tbody>
  </table>
  </div>
    
    
</div>
<!-- script -->
{% endblock %}