{% extends 'index.html'%}
{% block content %}
{% load static %}
{% load mathfilters %}
{% include 'common/bootstrap.html'%}
<style>
    h1 {
        font: 20px
    }
    .plotsize{
        width: 50%;
        font-size: 15px;
        padding: 7px 0px;
        border: 1px solid lightgray;
        border-radius: 0%;
    }
    .search{
        width:30%;
        float: right;
    }
    
    
    .search_size{
        border: 2px solid rgb(247, 243, 243);
        border-radius: 15px;
    }
</style>
{% for message in messages %}
<div class="alert   {% if message.tags == 'error' %}
                        alert-danger
                    {% elif message.tags == 'success' %}
                        alert-success
                    {% endif %}">
    <a class="close" href="#" data-dismiss="alert">×</a>
    {{ message }}
</div>
{% endfor %}
<div class="table-responsive pt-3" id="mytable" style="display: show;"> 
    <h2 class="text-lg font-semibold dark:text-white-light p-1" 
    style="background-color: rgb(188, 224, 198); border-radius: 9px; text-align: center;">
    <b>Site Visit Details</b></h2>
    <div class="relative search mt-2">
        <input type="text" id="searchInput" placeholder="Search Details..." class="form-input search_size" />
        <button type="button" class="btn absolute ltr:right-1 rtl:left-1 inset-y-0 m-auto rounded-full w-9 h-9 p-0 flex items-center justify-center"style="border-color:white">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
            <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
            </svg>
        </button>
    </div><br>
    <div class=" p-2">
        <table id="data" class="emInfo">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Customer Name</th>
                    <th>Phone No</th>
                    <th>Date of Sv</th>
                    <th>Executive</th>
                    <th>Team Lead</th>
                    <th>Proj Head</th>
                    <th>So Done by</th>
                    <th>Sv Done By</th>
                    <th>Sv Category</th>
                    <th>Source</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for view in view%}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{view.cust_name}}</td>
                    <td>{{view.phone_no}}</td>
                    <td>{{view.date_of_site_visit.date}}</td>                    
                    <td>{{view.executive}}</td>                   
                    <td>{{view.team_lead}}</td>                   
                    <td>{{view.proj_head}}</td>                   
                    <td>{{view.so_done_by}}</td>                    
                    <td>{{view.sv_don_by}}</td>                    
                    <td>{{view.sv_category}}</td>
                    <td>{{view.source}}</td>
                    <td>
                        <div>
                            <a href="update_site_visit/{{view.id}}" type="button" style="border:solid;border-color: rgba(240, 248, 255, 0);" x-tooltip="Edit">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-4.5 w-4.5 ltr:mr-2 rtl:ml-2">
                                    <path d="M15.2869 3.15178L14.3601 4.07866L5.83882 12.5999L5.83881 12.5999C5.26166 13.1771 4.97308 13.4656 4.7249 13.7838C4.43213 14.1592 4.18114 14.5653 3.97634 14.995C3.80273 15.3593 3.67368 15.7465 3.41556 16.5208L2.32181 19.8021L2.05445 20.6042C1.92743 20.9852 2.0266 21.4053 2.31063 21.6894C2.59466 21.9734 3.01478 22.0726 3.39584 21.9456L4.19792 21.6782L7.47918 20.5844L7.47919 20.5844C8.25353 20.3263 8.6407 20.1973 9.00498 20.0237C9.43469 19.8189 9.84082 19.5679 10.2162 19.2751C10.5344 19.0269 10.8229 18.7383 11.4001 18.1612L11.4001 18.1612L19.9213 9.63993L20.8482 8.71306C22.3839 7.17735 22.3839 4.68748 20.8482 3.15178C19.3125 1.61607 16.8226 1.61607 15.2869 3.15178Z" stroke="currentColor" stroke-width="1.5"></path>
                                    <path opacity="0.5" d="M14.36 4.07812C14.36 4.07812 14.4759 6.04774 16.2138 7.78564C17.9517 9.52354 19.9213 9.6394 19.9213 9.6394M4.19789 21.6777L2.32178 19.8015" stroke="currentColor" stroke-width="1.5"></path>
                                </svg></a>
                        </div>
                      </td>          
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="text-align: right;" >
        <div class="inline-flex items-center space-x-1 rtl:space-x-reverse m-auto mb-4">
            <button id="prevPage" type="button" class="flex justify-center font-semibold px-3.5 py-2 rounded transition bg-white-light text-dark hover:text-white hover:bg-primary dark:text-white-light dark:bg-[#191e3a] dark:hover:bg-primary">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 256 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M9.4 278.6c-12.5-12.5-12.5-32.8 0-45.3l128-128c9.2-9.2 22.9-11.9 34.9-6.9s19.8 16.6 19.8 29.6l0 256c0 12.9-7.8 24.6-19.8 29.6s-25.7 2.2-34.9-6.9l-128-128z"/></svg>
            </button>
            <span id="currentPage" class="flex justify-center font-semibold px-3.5 py-2 rounded transition bg-white-light text-dark hover:text-white hover:bg-primary dark:text-white-light dark:bg-[#191e3a] dark:hover:bg-primary">1</span>
            <button id="nextPage" type="button" class="flex justify-center font-semibold px-3.5 py-2 rounded transition bg-white-light text-dark hover:text-white hover:bg-primary dark:text-white-light dark:bg-[#191e3a] dark:hover:bg-primary">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 256 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
            </button>
        </div>
    </div>
    
</div>
<script>
    // Initialize variables
    var currentPage = 1;
    var rowsPerPage = 5; // Number of rows per page

    // Function to show/hide rows based on the current page
    function updateTable() {
        var tableRows = document.querySelectorAll(".emInfo tbody tr");
        var start = (currentPage - 1) * rowsPerPage;
        var end = start + rowsPerPage;

        for (var i = 0; i < tableRows.length; i++) {
            if (i >= start && i < end) {
                tableRows[i].style.display = "table-row";
            } else {
                tableRows[i].style.display = "none";
            }
        }

        // Update the "Page X" indicator
        document.getElementById("currentPage").textContent =  currentPage;
    }

    // Handle the "Next" button click
    document.getElementById("nextPage").addEventListener("click", function () {
        var tableRows = document.querySelectorAll(".emInfo tbody tr");
        var maxPage = Math.ceil(tableRows.length / rowsPerPage);
        if (currentPage < maxPage) {
            currentPage++;
            updateTable();
        }
    });

    // Handle the "Previous" button click
    document.getElementById("prevPage").addEventListener("click", function () {
        if (currentPage > 1) {
            currentPage--;
            updateTable();
        }
    });
    // Initial table update
    updateTable();
</script>
<script>
    // Function to filter the table rows
    function searchTable() {
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.querySelector(".emInfo");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            // Get all the cells in the current row
            td = tr[i].getElementsByTagName("td");
            // Initialize a flag to indicate if the row should be displayed
            var showRow = false;
            for (j = 0; j < td.length; j++) {
                txtValue = td[j].textContent || td[j].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    showRow = true;
                    break; // If a match is found, no need to check other cells in the row
                }
            }
            // Display or hide the row based on the showRow flag
            if (showRow) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
    // Attach the search function to the input element's "keyup" event
    document.getElementById("searchInput").addEventListener("keyup", searchTable);
// sub total - downpayment

</script>
{% endblock %}