{% extends 'index.html' %}
{% block content %}
{% load static %}
{% include 'common/bootstrap.html'%}
<style>
    a {
        color: black;
        text-decoration: none;
    }
</style>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <div class="p-2" style=" box-shadow:0px 0px 5px #007bff; border-radius: 10px;">
        <label class="text-lg dark:text-white-light p-2 font-weight-bold mt-4 addproject"
        style="background-color: #178EF0;color:white; width:100%;"><center><b>BANNER IMAGE</b></center></label>
        <div class="panel p-1">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
                <div class="p-1">
                    <label class="p-1">Profile</label>
                    <span>(Banner Size (811X460))</span>
                    <input type="file" name="profile">
                </div>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" value="Upload"   class="btn btn-primary mt-3 text-lg font-semibold dark:text-white-light">
            <input type="reset" value="Clear" class="btn btn-danger mt-3">
        </div>
    </div>
</form>

{% endblock %}