{% extends 'index.html' %}
{% block content %}
{% load static %}
{% include 'common/bootstrap.html'%}
<style>
    a {
        color: black;
        text-decoration: none;
    }
</style>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <div class="p-2" style=" box-shadow:0px 0px 5px #007bff; border-radius: 10px;">
        <label class="text-lg dark:text-white-light p-2 font-weight-bold mt-4 addproject"
        style="background-color: #178EF0;color:white; width:100%;"><center><b>GALLERY IMAGE</b></center></label>
        <div class="panel p-1">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
                <div class="p-1">
                    <label class="p-1">Profile</label>
                    <span>(Gallery Size (811X460))</span>
                    <input type="file" name="profile">
                </div>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" value="Upload"   class="btn btn-primary mt-3 text-lg font-semibold dark:text-white-light">
            <input type="reset" value="Delete" class="btn btn-danger mt-3">
        </div>
    </div>
</form>
<div class="mt-4">
    <table class="table table-bordered bg-white text-center">
        <thead>
            <tr>
                <th>#</th>
                <th>Image Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for mydata in image %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ mydata.gallery_image }}</td>
                <td>
                    <a href="/media/{{ mydata.gallery_image }}" type="button" style="border:solid;border-color: rgba(240, 248, 250, 0);" x-tooltip="View">
                        <svg  xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                            <path d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"/>
                        </svg>
                    </a>
                    <a href="deletingimage/{{ image.id }}" type="button" style="border:solid;border-color: rgba(250, 250, 250, 0);" x-tooltip="Delete">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5">
                            <path d="M20.5001 6H3.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                            <path d="M18.8334 8.5L18.3735 15.3991C18.1965 18.054 18.108 19.3815 17.243 20.1907C16.378 21 15.0476 21 12.3868 21H11.6134C8.9526 21 7.6222 21 6.75719 20.1907C5.89218 19.3815 5.80368 18.054 5.62669 15.3991L5.16675 8.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                            <path opacity="0.5" d="M9.5 11L10 16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                            <path opacity="0.5" d="M14.5 11L14 16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                            <path opacity="0.5" d="M6.5 6C6.55588 6 6.58382 6 6.60915 5.99936C7.43259 5.97849 8.15902 5.45491 8.43922 4.68032C8.44784 4.65649 8.45667 4.62999 8.47434 4.57697L8.57143 4.28571C8.65431 4.03708 8.69575 3.91276 8.75071 3.8072C8.97001 3.38607 9.37574 3.09364 9.84461 3.01877C9.96213 3 10.0932 3 10.3553 3H13.6447C13.9068 3 14.0379 3 14.1554 3.01877C14.6243 3.09364 15.03 3.38607 15.2493 3.8072C15.3043 3.91276 15.3457 4.03708 15.4286 4.28571L15.5257 4.57697C15.5433 4.62992 15.5522 4.65651 15.5608 4.68032C15.841 5.45491 16.5674 5.97849 17.3909 5.99936C17.4162 6 17.4441 6 17.5 6" stroke="currentColor" stroke-width="1.5"></path>
                        </svg></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" style="text-align: center;">No Requested Calls</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}