{% extends 'index.html' %}
{% block content %}
{% load static %}
{% include 'common/bootstrap.html'%}
<style>
    a {
        color: black;
        text-decoration: none;
    }
</style>
<form class="space-y-5 " method="POST" action="" autocomplete="off">
    {% for message in messages %}
            <div class="alert alert-success">
                <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message }}
            </div>
    {% endfor %}
    {% csrf_token %}
    <div class="p-2" style=" box-shadow:0px 0px 5px #007bff; border-radius: 10px;">
        <label class="text-lg font-semibold dark:text-white-light p-2"
            style="background-color: blueviolet; border-radius: 9px;"><b>New Customer</b></label>
        <h2 class="text-lg font-semibold dark:text-white-light p-1"
            style="background-color: rgb(138, 202, 167); border-radius: 9px;"><b>Member Particulars</b></h2>
        <div class="panel p-1">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
                <div class="p-1">
                    <label class="p-1">Member Name</label>
                    <input type="text" name="first_name" class="form-input" placeholder="Member Name" >
                </div>
                <div class="p-1">
                    <label class="p-1">Father/Husband Name</label>
                    <input type="text" name="last_name" class="form-input" placeholder="Surname Name">
                </div>
                <div class="p-1">
                    <label class="p-1">Date of Brith</label>
                    <input type="date" name="dob" class="form-input" placeholder="DOB">
                </div>
                <div class="p-1">
                    <label class="p-1">Age</label>
                    <input type="number" name="age" class="form-input" placeholder="Age">
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
                <div class="p-1">
                    <label class="p-1">Moblie Number</label>
                    <input type="number" name="mobile_no" placeholder="Moblie Number" class="form-input">
                </div>
                <div class="p-1">
                    <label class="p-1">Alternate Number</label>
                    <input type="number" name="alternate_no" placeholder="Alternate Number" class="form-input">
                </div>
                <div class="p-1">
                    <label class="p-1">Email ID</label>
                    <input type="email" name="email" placeholder="E-Mail Id" class="form-input">
                </div>
                <div class="p-1">
                    <label class="p-1">Profile</label>
                    <input type="file" name="profile">
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
                <div class="p-1">
                    <label class="p-1">Residential Address</label>
                    <textarea class="form-input" name="address" placeholder="Residential Address" rows="3"></textarea>
                </div>
                <div class="p-1">
                    <label class="p-1">City</label>
                    <input type="text" name="city" placeholder="City" class="form-input">
                </div>
                <div class="p-1">
                    <label class="p-1">State</label>
                    <input type="text" name="state" placeholder="State" class="form-input">
                </div>
                <div>
                    <label class="p-1">Password</label>
                    <input type="password" name="password" placeholder="password" class="form-input">
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
                <div class="p-1">
                    <label class="p-1">Pan Number</label>
                    <input type="number" name="panno" placeholder="Pan Number" class="form-input">
                </div>
                <div class="custom-file-container p-7">
                    <label></label>
                    <input type="file" name="pan_proof">
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
                <div class="p-1">
                    <label class="p-1">Aadhhar Number</label>
                    <input type="number" name="aadhhaarno" placeholder="Aadhhar Number" class="form-input">
                </div>
                <div class="p-7">
                    <label></label>
                    <input type="file" name="aadhar_proof">
                </div>
            </div>
        </div>
        <div class="panel p-1">
            <h1 class="text-lg font-semibold dark:text-white-light p-1"
                style="background-color: rgb(138, 202, 167); border-radius: 9px;"><b>Nominee Particulars</b></h1>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
                <div class="p-1">
                    <label class="p-1">Nominee Name</label>
                    <input type="text" name="nominee_name" placeholder="Nominee Name" class="form-input">
                </div>
                <div class="p-1">
                    <label class="p-1">Nominee Age</label>
                    <input type="number" name="nominee_age" placeholder="Nominee Age" class="form-input">
                </div>
                <div class="p-1">
                    <label class="p-1">Nominee Relationship</label>
                    <input type="text" name="nominee_relationship" placeholder="Nominee Relationship"
                        class="form-input">
                </div>
                <div class="p-1">
                    <label class="p-1">Nominee Address</label>
                    <input type="text" name="address1" placeholder="Nominee Address" class="form-input">
                </div>
                <div class="p-1">
                    <label class="p-1">City</label>
                    <input type="text" name="city1" placeholder="City" class="form-input">
                </div>
                <div class="p-1">
                    <label class="p-1">State</label>
                    <input type="text" name="state1" placeholder="State" class="form-input">
                </div>
            </div>
        </div>
        <input type="hidden" name="check_input_no" id="check_input_no" value="1">
        <div class="panel p-1" id="container" >
            <h1 class="text-lg font-semibold dark:text-white-light p-1"
                style="background-color: rgb(138, 202, 167); border-radius: 9px;"><b>Family Details</b></h1>
                <div></div>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-5" id="family-form">
                <div class="p-1">
                    <label class="p-1">Family-Member Name</label>
                    <input type="text" name="member_name1" placeholder="Family-Member Name" class="form-input">
                </div>
                <div class="p-1">
                    <label class="p-1">Family-Member Age</label>
                    <input type="age" name="member_age1" placeholder="Family-Member Age" class="form-input">
                </div>
                <div class="p-1">
                    <label class="p-1">Family-Member Relationship</label>
                    <input type="text" name="member_relation1" placeholder="Family-Member Relationship" class="form-input">
                </div>
                <div class="p-1">
                    <label class="p-1"></label>
                    <button id="hello1" class="btn btn-success text-lg font-semibold dark:text-white-light" type="button"
                     onclick="add_more_field()">Add More</button>
                </div>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" value="Submit Application"   class="btn btn-primary mt-5">
            <input type="reset" value="Clear" class="btn btn-danger mt-5">
        </div>
    </div>
</form>
<script>
    var i=2;
        function add_more_field(button) {
            document.getElementById("hello1").style.display = "none";
        var container = document.getElementById("container");
        var newRow = document.createElement("div");
        newRow.innerHTML = `
        <div class="grid grid-cols-1 md:grid-cols-4 gap-5 p-1">
            <div class="p-1"> 
                
               <input type="text" name="member_name`+i+`" placeholder="Family-Member Name" class="form-input">
            </div>
            <div class="p-1">
                <input type="age" name="member_age`+i+`" placeholder="Family-Member Age" class="form-input">
            </div>
            <div class="p-1">
                <input type="text" name="member_relation`+i+`" placeholder="Family-Member Relationship" class="form-input">
            </div>
            <button id="hello`+i+`" class="btn btn-success text-lg font-semibold dark:text-white-light" type="button"
                     onclick="add_more_field(this)">Add More</button>
            <button id="btn`+i+`" class="btn btn-danger text-lg font-semibold dark:text-white-light"style="padding: 10px 24px;" type="button" onclick="remove_field(this)">Close</button>
        </div>
        `;
        container.appendChild(newRow);
        var x = i-1;
        // $(`"#btn`+x+`"`).hide();
        document.getElementById("check_input_no").value = i;
        if (x > 1){
            document.getElementById("hello" + x).style.display = "none";
            document.getElementById("btn" + x).style.display = "none";
            
        }
      
        // 
        i++;
        
        
    }
    function remove_field(button) {
        id  = button.id;
        let result = id.replace("btn","");
        var current = result-1;
        
        var row = button.parentNode.parentNode; // Traverse two levels up to remove the entire set of fields
        row.parentNode.removeChild(row);
  
        if (current > 1){
            document.getElementById("btn"+current).style.display = "block";
        document.getElementById("hello" + current).style.display = "block";
        }
        
        else {
            document.getElementById("hello"+current).style.display = "block";
        }
        i--;
        document.getElementById("check_input_no").value = current;
    }

  </script>
{% endblock %}