{% extends 'index.html' %}
{% block content %}
{% load static %}
{% include 'bootstrap.html' %}
<style>
    .addcredentialtitle{
        text-align: center;
        padding:15px 15px;
        font-size: 15px;
        font-weight: bold;
        background-color: #00c200;
        color: white;
    }
    .projectname{
        width: 100%;
        font-size: 15px;
        padding: 7px 0px;
        border: 1px solid lightgray;
        border-radius: 3%;
    }

    .divbox{
        box-shadow: 0px 0px 5px #007bff;
        border-radius: 1%;
    }
    a{
        color:black
    }
</style>
<div class="divbox p-3 mt-2">
    <h3 class="font-weight-bold mt-4 addcredentialtitle">BANK STATEMENT UPLOAD</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="grid pt-4 grid-cols-1 md:grid-cols-3 gap-5">
            <div>
                <label>Select One Project</label><br>
                <select name="projectname" class="form-control mt-3" id="select" onchange="selected()" required>
                    <option value="" >Click to Select Project</option>
                    <option value="fv">project name</option>
                    <option value="dsf">None</option>
            </select>
            </div>
            <div class="text-center" id="button" style="display: none;">
                <a class="btn btn-primary mt-5" onclick="upload()">Upload</a>
                <a class="btn btn-danger mt-5">View </a>
            </div>
        </div>
        <div id="form" class="panel p-1 mt-3" style="display : none">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-2" >
                <div class="p-1">
                    <label class="p-1">Credit Date</label>
                    <input type="date" name="creditdate" placeholder="Credit Date" class="form-input" >
                </div>
                <div class="p-1">
                    <label class="p-1">Transaction Particulars</label>
                    <input type="text" name="transaction" placeholder="Transaction Particulars" class="form-input" >
                </div>
                <div class="p-1">
                    <label class="p-1">Cheque No</label>
                    <input type="text" name="Chequeno" placeholder="Cheque No" class="form-input" >
                </div>
                <div class="p-1">
                    <label class="p-1">Statemnt Amount</label>
                    <input type="text" name="stmtamount" placeholder="Statemnt Amount" class="form-input" >
                </div>
                <div class="p-1">
                    <label class="p-1">Trans Category</label>
                    <input type="text" name="transcategory" placeholder="Trans Category" class="form-input" >
                </div>
                <div class="p-1">
                    <label class="p-1">Trans Amount</label>
                    <input type="number" name="transamount" placeholder="Trans Amount" class="form-input" >
                </div>
                <div class="p-1">
                    <label class="p-1">Receipt No</label>
                    <input type="number" name="receiptno" placeholder="Receipt No" class="form-input" >
                </div>
                <div class="p-1">
                    <label class="p-1">Cr/Dr Code</label>
                    <input type="text" name="Cr/Dr_code" placeholder="Cr/Dr Code" class="form-input" >
                </div>
                <div class="p-1">
                    <label class="p-1">Code Description</label>
                    <input type="text" name="codedescription" placeholder="Code Description" class="form-input" >
                </div>
                <div class="p-1">
                    <label class="p-1">Seniority No</label>
                    <input type="number" name="seniority_no" placeholder="Seniority No" class="form-input" >
                </div>
                <div class="p-1">
                    <label class="p-1">AMT Remarks/Customer Name</label>
                    <input type="text" name="project_lead" placeholder="Sv Done Cust" class="form-input" >
                </div>                
            </div>
            <div class="text-center p-2">
                <input type="submit" value="Submit Application" class="btn btn-success mt-3 p-2">
                <input type="reset" value="Clear" class="btn btn-warning mt-3 p-2">
                <input type="button" value="Close" onclick="upload();" class="btn btn-danger mt-3 p-2">
            </div>
        </div>
    </form>
</div>
<script>
    function selected(){
        var selec = document.getElementById('select');
        var btn = document.getElementById('button');
        var form=document.getElementById('form');
        console.log(selec.val);
        debugger
            if(selec.value ==''){
                btn.style.display='none';
                form.style.display='none'

            }
            else{
                btn.style.display='block';
            }
    }
    function upload(){
        var sel = document.getElementById('select');
        console.log(sel.value);
        debugger
        if(sel.value ==''){
        }
        else{
            var form=document.getElementById('form');
            if(sel.value !=''){
                sel.disabled;
            }
            if(form.style.display==='none')
            {
                form.style.display='block'
            }
            else{
            form.style.display='none'
            }
        }
        
    }
</script>
{% endblock %}