{% extends 'index.html'%}
{% block content %}
{% load static %}
{% include 'common/bootstrap.html'%}
<style>
    a{
        color: black;
        text-decoration: none;
    }
    .addproject{
        text-align: center;
        padding:15px 15px;
        font-size: 15px;
        font-weight: bold;
        background-color: #00c200;
        color: white;
        font-size: 19px;
    }
</style>
{% for message in messages %}
<div class="alert alert-success">
    <a class="close" href="#" data-dismiss="alert">×</a>
    {{ message }}
</div>
{% endfor %}
<div class="pt-2 mt-3" style=" box-shadow:0px 0px 5px #007bff; border-radius: 10px;">
    <form method="POST" class="space-y-5" autocomplete="off">
        {% csrf_token %}
        <div class="panel" >
            <label class="text-lg dark:text-white-light p-2 font-weight-bold addproject"
            style="background-color: #00c200;color:white; width:100%;"><b>CANCELLATION</b></label>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-5 mt-4">
                <label for="search_membername">Search your Customer:</label>
                <input type="text" class="form-input" name="search_membername" id="search_membername" placeholder="Enter the Seniorityno" required>
                <button type="submit" class="btn btn-primary text-lg font-semibold dark:text-white-light" name="action" value="search_customer">Search Customer</button>
            </div>
        </div>
    </form>
    {% if customer %}
    <form method="POST" action="" class="space-y-5" autocomplete="off">
        {% csrf_token %}
        <ul>
            <li>
                <div class="panel mt-3">
                    <div class="" id="container" >
                        <div id="form" class="mt-3">
                            <div class="grid grid-cols-1 md:grid-cols-4 gap-2" >
                                <div class="p-1">
                                    <label class="p-1">Seniority No</label>

                                    <input type="text" name="seniority" placeholder="Seniority No" class="form-input" value="{{ customer.seniority_id }}" readonly>
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Cust Name</label>
                                    <input class="form-input" type="hidden" name="user_id"  value="{{ customer.user.id }}" readonly>
                                    <input type="text" name="cust_name" placeholder="Cust Name" class="form-input" value="{{ customer.user.first_name }}" readonly>
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Date of Cancel</label>
                                    <input type="date" name="date_of_cancel" placeholder="Date of Cancel" class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Type of Cancel</label>
                                    <input type="text" name="type_of_cancel" placeholder="Type of Cancel" class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Date of Refund</label>
                                    <input type="date" name="date_of_refund" placeholder="Date of Refund" class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Mode of Refund</label>
                                    <select class="form-control" name="mode_of_refund" required> 
                                        <option disabled selected hidden>Select</option>
                                        <option value="Cheque">Cheque</option>
                                        <option value="DD">DD</option>
                                    </select>
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Refund Cheque No</label>
                                    <input type="text" name="refund_cheque_no" placeholder="Refund Cheque No" class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Refund Amount</label>
                                    <input type="text" name="refund_amount" placeholder="Refund Amount" class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Amount Paid By Member</label>
                                    <input type="text" name="team_lead" placeholder="Amount Paid By Member" class="form-input" value="{{ customer.downpayment }}" readonly>
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Type of Refund</label>
                                    <!-- <input type="text" name="sr_team_lead" placeholder="Type of Refund" class="form-input" > -->
                                    <select class="form-control" name="type_of_refund" required>
                                        <option disabled selected hidden>Select</option>
                                        <option value="Part Refund">Part Refund</option>
                                        <option value="Full Refund">Full Refund</option>
                                        <option value="Zero Payments">Zero Payments</option>
                                    </select>
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Issued By</label>
                                    <input type="text" name="issued_by" placeholder="Issued By" class="form-input" >
                                </div>                    
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success mt-5" name="action" value="create_order" style="background-color: #00c200;">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </form>   
    {%endif%}
</div>
{% endblock %}