{% extends 'index.html'%}
{% block content %}
{% load static %}
{% include 'common/bootstrap.html'%}
<style>
    a{
        color: black;
        text-decoration: none;
    }
</style>
{% for message in messages %}
<div class="alert alert-success">
    <a class="close" href="#" data-dismiss="alert">×</a>
    {{ message }}
</div>
{% endfor %}
<div class="pt-2 mt-3" style=" box-shadow:0px 0px 5px #007bff; border-radius: 10px;">
    <form method="POST" class="space-y-5" autocomplete="off">
        {% csrf_token %}
        <div class="panel" >
            <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
                <label for="search_membername">Search your Customer:</label>
                <input type="text" class="form-input" name="search_membername" id="search_membername" placeholder="Enter the Seniorityno" >
                <button type="submit" class="btn btn-primary text-lg font-semibold dark:text-white-light" name="action" value="search_customer">Search Customer</button>
            </div>
        </div>
    </form>
    {% if customer %}
    <form method="POST" action="" class="space-y-5" autocomplete="off">
        {% csrf_token %}
        <ul>
            <li>
                <div class="pt-2 mt-3" style=" box-shadow:0px 0px 5px #007bff; border-radius: 10px;">
                    <div class="panel p" id="container" >
                        <h1 class="text-lg font-semibold dark:text-white-light p-1" style="background-color: rgb(138, 202, 167); border-radius: 9px;"><b>Cancellation</b></h1>
                        <div id="form" class="panel p-1 mt-3">
                            <div class="grid grid-cols-1 md:grid-cols-4 gap-2" >
                                <div class="p-1">
                                    <label class="p-1">Seniority No</label>

                                    <input type="text" name="seniority" placeholder="Seniority No" class="form-input" value="{{ customer.seniority_id }}" readonly>
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Cust Name</label>
                                    <input class="form-input" type="hidden" name="user_id"  value="{{ customer.user.id }}" readonly>
                                    <input type="text" name="cust_name" placeholder="Cust Name" class="form-input" value="{{ customer.user.first_name }}" readonly>
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Date of Cancel</label>
                                    <input type="date" name="date_of_cancel" placeholder="Date of Cancel" class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Type of Cancel</label>
                                    <input type="text" name="type_of_cancel" placeholder="Type of Cancel" class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Date of Refund</label>
                                    <input type="date" name="date_of_refund" placeholder="Date of Refund" class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Mode of Refund</label>
                                    <input type="text" name="mode_of_refund" placeholder="Mode of Refund" class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Refund Cheque No</label>
                                    <input type="text" name="refund_cheque_no" placeholder="Refund Cheque No" class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Refund Amount</label>
                                    <input type="text" name="refund_amount" placeholder="Refund Amount" class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Amount Paid By Member</label>
                                    <input type="text" name="team_lead" placeholder="Amount Paid By Member" class="form-input" value="{{ customer.downpayment }}" readonly>
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Type of Refund</label>
                                    <input type="text" name="sr_team_lead" placeholder="Type of Refund" class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Issued By</label>
                                    <input type="text" name="issued_by" placeholder="Issued By" class="form-input" >
                                </div>                    
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn btn-success mt-5" name="action" value="create_order">
                                <input type="reset" value="Clear" class="btn btn-warning mt-5">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </form>   
    {%endif%}
</div>
{% endblock %}