{% extends 'index.html'%}
{% block content %}
{% load static %}
{% include 'common/bootstrap.html'%}
<style>
    a{
        color: black;
        text-decoration: none;
    }
    .addproject{
        text-align: center;
        padding:15px 15px;
        font-size: 15px;
        font-weight: bold;
        background-color: #00c200;
        color: white;
        font-size: 19px;
    }

</style>
{% for message in messages %}
<div class="alert   {% if message.tags == 'error' %}
                        alert-danger
                    {% elif message.tags == 'success' %}
                        alert-success
                    {% endif %}">
    <a class="close" href="#" data-dismiss="alert">×</a>
    {{ message }}
</div>
{% endfor %}
<div class=" mt-3" style=" box-shadow:0px 0px 5px #007bff; border-radius: 10px;">
    <form method="POST" class="space-y-5" autocomplete="off">
        {% csrf_token %}
        <div class="panel" >
            <label class="text-lg dark:text-white-light p-2 font-weight-bold addproject"
                style="background-color: #00c200;color:white; width:100%;"><b>GENERATE RECEIPT</b></label>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-5 pt-4" >
                <label for="search_membername">Search your Customer:</label>
                <input type="text" class="form-input" name="search_membername" id="search_membername" placeholder="Enter the Seniority No" required>
                <button type="submit" class="btn btn-primary text-lg font-semibold dark:text-white-light" name="action" value="search_customer">Search Customer</button>
            </div>
        </div>
    </form>
    {% if customer %}
    <form method="POST" action="" class="space-y-5" autocomplete="off">
        {% csrf_token %}
        <ul>
                <li>
                    <div class="panel">
                        <div>
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
                           
                                <div>
                                    <label for="customer">Customers:</label>
                                    <input class="form-input" type="text" name="user"  value="{{ customer.user.first_name }}" readonly>
                                    <input class="form-input" type="hidden" name="user_id"  value="{{ customer.user.id }}" readonly>
                                </div>
                                <div>
                                    <label for="seniorityno">Seniority No:</label>
                                    <input class="form-input" type="text" name="seniority" value="{{ customer.seniority_id }}" readonly>
                                </div>
                                <div >
                                    <label for="amount">Total-Amount:</label>
                                    <input class="form-input" type="text" name="amount" value="{{ customer.total_site_value }}" readonly>
                                </div>
                                <div class="p-1">
                                    <label for="dimensions">Dimension</label>
                                    <input class="form-input" type="text" name="dimension"  value="{{ customer.land_details.plotsize.plotsize }}" readonly>
                                </div>
                                <div class="p-1">
                                    <label>Date-of-receipt</label>
                                    <input class="form-input" type="date" name="dateofreceipt">
                                </div>
                                <div class="p-1">
                                    <label>Pending Amount</label>
                                    <input class="form-input" type="text" value="{{difference}}" readonly>
                                </div>
                            </div>
                            <div class="mt-3">
                                <h2 class="text-lg font-semibold dark:text-white-light"
                                    style="background-color:#daeff2;color:#1ca7dd;width: 100%;padding-left: 40%;padding-top: 1%;padding-bottom: 1%;"><b>Payment Details</b></h2>
                                <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
                                    <div class="p-1">
                                        <div>
                                            <label>Select to Payment Option</label>
                                            <select class="form-control" id="inputfield" name="payment_mode">
                                                <option>--select option--</option>
                                                <option value="Cheque">Cheque</option>
                                                <option value="Net Banking">Net Banking</option>
                                                <option value="DD">DD</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="p-1" id="mytable" style="display :none;">
                                        <label class="p-1">Bank</label>
                                        <input type="text" name="bank" placeholder="Bank" class="form-input">
                                    </div>
                                    <div class="p-1" id="project" style="display :none;">
                                        <label class="p-1">Branch</label>
                                        <input type="text" name="branch" placeholder="Branch" class="form-input">
                                    </div>
                                    <div class="p-1" id="table3" style="display :none;">
                                        <label class="p-1">Cheque No</label>
                                        <input type="text" name="cheque_no" placeholder="Cheque No" class="form-input">
                                    </div>
                                    <div class="p-1" id="table4" style="display :none;">
                                        <label class="p-1">Pay Date</label>
                                        <input type="date" name="payment_data" placeholder="Pay Date" class="form-input">
                                    </div>
                                    <div class="p-1" id="table5" style="display :none;">
                                        <label>Amount</label>
                                        <input type="text" name="amount" placeholder="Amount" class="form-input">
                                    </div>
                                    <div class="p-1" id="table6" style="display:none;">
                                        <label>Transaction Id</label>
                                        <input type="text" name="transaction_id" placeholder="Transaction Id" class="form-input">
                                    </div>
                                    <div class="p-1" id="table7" style="display:none;">
                                        <label>DD No</label>
                                        <input type="text" name="dd_no" placeholder="DD No" class="form-input">
                                    </div>
                                </div>
                            </div>
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
                                <div>
                                    <label></label>
                                </div>
                                <div class="p-1 mt-4">
                                    <center><button type="submit" class="btn btn-success text-lg font-semibold dark:text-white-light" style="background-color: #00c200;" name="action" value="create_order">Create Receipt</button></center>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </li>
        </ul>
    </form>   
    {%endif%}
</div>
<script>
    const inputField = document.getElementById('inputfield');
    const myTable = document.getElementById('mytable');
    const Project = document.getElementById('project');
    const Table3 = document.getElementById('table3');
    const Table4 = document.getElementById('table4');
    const Table5 = document.getElementById('table5');
    const Table6 = document.getElementById('table6');
    const Table7 = document.getElementById('table7');
    inputField.addEventListener('input', function () {
        if (inputField.value === 'Cheque') {
            myTable.style.display = 'table';// Show the table
            Project.style.display = 'table';
            Table3.style.display = 'table';
            Table4.style.display = 'table';
            Table5.style.display = 'table';
            Table6.style.display = 'none';
            Table7.style.display = "none";
        } else if (inputField.value === 'Net Banking') {
            Project.style.display = 'table';
            myTable.style.display = 'table';// Show the table
            Table3.style.display = 'none';
            Table4.style.display = 'table';
            Table5.style.display = 'table';
            Table6.style.display = 'table';
            Table7.style.display = "none";
        } else if (inputField.value === 'cash') {
            myTable.style.display = 'none';// Show the table
            Project.style.display = 'none';
            Table3.style.display = 'none';
            Table4.style.display = 'table';
            Table5.style.display = 'table';
            Table6.style.display = 'none';
            Table7.style.display = "none";
        } else if (inputField.value === 'DD') {
            myTable.style.display = 'table';// Show the table
            Project.style.display = 'table';
            Table3.style.display = 'none';
            Table4.style.display = 'table';
            Table5.style.display = 'table';
            Table6.style.display = 'none';
            Table7.style.display = "table";
        } else {
            myTable.style.display = 'none';
            Project.style.display = 'none';
            Table3.style.display = 'none';
            Table4.style.display = 'none';
            Table5.style.display = 'none';
            Table6.style.display = 'none';
            Table7.style.display = 'none';
        }
    });

</script>
{% endblock %}
