{% extends 'index.html'%}
{% block content %}
{% load static %}
{% load widget_tweaks %}
{% include 'common/bootstrap.html'%}
<style>
    a{
        color: black;
    }
</style>
<form>
    <div class="pt-2 mt-3" style=" box-shadow:0px 0px 5px #007bff; border-radius: 10px;">
        <div class="panel p" id="container" >
            <h1 class="text-lg font-semibold dark:text-white-light p-1" style="background-color: rgb(138, 202, 167); border-radius: 9px;"><b>Lead Owner</b></h1>
            <input type="button" value="Add Button"onclick="mymodel();" class="btn btn-success">
            <form class="mx-auto w-full sm:w-1/2 mb-5">
                
            </form>
            <div id="form" class="panel p-1 mt-3" style="display : none">
                <div class="grid grid-cols-1 md:grid-cols-4 gap-2" >
                    <div class="p-1">
                        <label class="p-1">Seniority No</label>
                        <input type="text" name="seniority" placeholder="Seniority No" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Cust Name</label>
                        <input type="text" name="cust_name" placeholder="Cust Name" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Executive</label>
                        <input type="text" name="" placeholder="Executive" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Team Lead</label>
                        <input type="text" name="Type of Cancel" placeholder="Team Lead" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">SR Team Lead</label>
                        <input type="text" name="sft_form" placeholder="SR Team Lead" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Project Head</label>
                        <input type="text" name="sft_to" placeholder="Project Head" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Type of Booking</label>
                        <input type="text" name="diff" placeholder="Type of Booking" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Ref Exis Cust SRY</label>
                        <input type="text" name="executive" placeholder="Ref Exis Cust SRY" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Ref Exis Cust Name</label>
                        <input type="text" name="team_lead" placeholder="Ref Exis Cust Name" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Date of Sv</label>
                        <input type="text" name="sr_team_lead" placeholder="Date of Sv" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Sv Done Cust</label>
                        <input type="text" name="project_lead" placeholder="Sv Done Cust" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Source</label>
                        <input type="text" name="project_lead" placeholder="Source" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">ID Card Status</label>
                        <input type="text" name="project_lead" placeholder="ID Card Status" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Fup Category</label>
                        <input type="text" name="project_lead" placeholder="Fup Category" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Install Fup Status</label>
                        <input type="text" name="project_lead" placeholder="Install Fup Status" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Install Fup Date</label>
                        <input type="text" name="project_lead" placeholder="Install Fup Date" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Excep Category</label>
                        <input type="text" name="project_lead" placeholder="Excep Category" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Excep Reason</label>
                        <input type="text" name="project_lead" placeholder="Excep Reason" class="form-input" >
                    </div>                    
                </div>
                <div class="text-center p-2">
                    <input type="submit" value="Submit Application" class="btn btn-success mt-3 p-2">
                    <input type="reset" value="Clear" class="btn btn-warning mt-3 p-2">
                    <input type="button" value="Close" onclick="mymodel();" class="btn btn-danger mt-3 p-2">
                </div>
            </div>
        </div>
    </div>
</form>


    <script>

        // model show
        function mymodel() {
            var form = document.getElementById('form');
            if (form.style.display === 'none') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        }
    </script>
{% endblock %}