{% extends 'index.html'%}
{% block content %}
{% load static %}
{% load widget_tweaks %}
{% include 'common/bootstrap.html'%}
<style>
    a{
        color: black;
    }
</style>
{% for message in messages %}
<div class="alert   {% if message.tags == 'error' %}
                        alert-danger
                    {% elif message.tags == 'success' %}
                        alert-success
                    {% endif %}">
    <a class="close" href="#" data-dismiss="alert">×</a>
    {{ message }}
</div>
{% endfor %}
<div class="pt-2 mt-3" style=" box-shadow:0px 0px 5px #007bff; border-radius: 10px;">
    <form method="POST" class="space-y-5" autocomplete="off">
        {% csrf_token %}
        <div class="panel" >
            <label class="text-lg dark:text-white-light p-2 font-weight-boldt"
                style="background-color: #178EF0;color:white; width:100%;"><center><b>TRANSFER</b></center></label>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-5 mt-4">
                <div>
                    <label for="search_membername">Search your Customer:</label>
                    <input type="text" class="form-input" name="search_membername" id="search_membername" placeholder="Enter the Seniority No" value="{{ customer.seniority_id }}"required>
                </div>
                <div >
                    <label for="user_id">Search New Customer Id:</label>
                    <input type="text" class="form-input" name="user_id" id="user_id" placeholder="Enter the Customer Id" value="{{ customer.user.id }}" required>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary text-lg font-semibold dark:text-white-light" style="width: 100%;" name="action" value="search_customer">Search Customer</button>
                </div>
            </div>
        </div>
    </form>
    {% if customer %}
    <form autocomplete="off" method="POST">
        {% csrf_token %}
        <ul>
            <li>
                <div class="pt-2 mt-3" >
                    <div class="panel ">
                        <div id="form">
                            <div class="grid grid-cols-1 md:grid-cols-4 gap-2" >
                                <div class="p-1">
                                    <label class="p-1">Seniority No</label>
                                    <input type="text" name="seniority" placeholder="Seniority No" class="form-input" value="{{ customer.seniority_id }}" >
                                    <input class="form-input" type="hidden" name="user_id"  value="{{ customer.user.id }}" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Cust Name</label>
                                    <input type="text" name="cust_name" placeholder="Cust Name" class="form-input" value="{{ customer.user.first_name }}" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Exis Project</label>
                                    <input type="text" name="date_of_change" placeholder="Exis Project" class="form-input" value="{{ customer.land_details.project.projectname}}"  class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Date of Transfer</label>
                                    <input type="date" name="date_of_transfer" placeholder="Date of Transfer" class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Type of Transfer</label>
                                    <input type="text" name="type_of_transfer" placeholder="Type of Transfer" class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Transferred To</label>
                                    <input type="text" name="sft_to" placeholder="Transferred To" class="form-input" value="{{user.first_name}}"  >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">New Mem Seniorty</label>
                                    <input type="text" name="new_seniorty" placeholder="New Mem Seniorty" class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">New Mem Mobile</label>
                                    <input type="text" name="executive" placeholder="New Mem Mobile" class="form-input" value="{{user.mobile_no}}" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">New Mem E-mail</label>
                                    <input type="text" name="team_lead" placeholder="New Mem E-mail" class="form-input" value="{{user.email}}" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Amount Paid by Exis Customer</label>
                                    <input type="text" name="sr_team_lead" placeholder="Amount Paid by Exis Customer" class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Amount Transferred</label>
                                    <input type="text" name="Amount_Transferred" placeholder="Amount Transferred" class="form-input" >
                                </div>
                            </div>
                            <div>
                                <div class="p-1">
                                    <label class="p-1">Affidavit Upload</label>
                                    <input type="File" name="affidavit" placeholder="Affidavit Upload" class="form-input" >
                                </div>
                                <div class="p-1">
                                    <label class="p-1">Death cert(Death of Member)</label>
                                    <input type="File" name="deathcerft" placeholder="indvl_paid" class="form-input" >
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" name="action" value="create_order" class="btn btn-primary mt-5" style="background-color: #178EF0;">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </form>   
    {%endif%}
</div>
{% endblock %}