{% load static %}
<style>
    /* Custom Styles for Footer */
    .footer {
        background-color: #343a40;
        /* Dark background color */
        color: #ffffff;
        /* White text color */
    }

    /* Style for Attention Members section */
    .footer h3 {
        color: #ffffff;
        /* White text color for the heading */
    }

    .footer p {
        margin-bottom: 10px;
    }

    /* Style for Quick Links section */
    .footer h5 {
        color: #ffffff;
        /* White text color for the heading */
    }

    .footer a {
        color: #ced4da;
        /* Light grey text color for links */
    }

    .footer a:hover {
        color: #ffffff;
        /* White text color on hover for links */
        text-decoration: none;
        /* Remove default underline on hover */
    }

    /* Style for Get In Touch section */
    .footer .btn-social {
        margin-right: 5px;
    }

    /* Responsive Map Styles */
    .footer iframe {
        width: 100%;
        height: 250px;
        border: 0;
    }

    /* Adjust padding for smaller screens */
    @media (max-width: 767px) {
        .footer {
            padding-top: 20px;
        }
    }
</style>
<div class="container-fluid bg-dark text-white-50 footer pt-3 mt-3 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-3">
        <div class="row g-3">
            <div class="col-lg-4 col-md-12">
                <h3 class="mb-2" style="color: rgb(250, 250, 250);">
                    Attention Members :</h3>
                <!-- <div class="elementor-post__meta-data"> <span class="elementor-post-date">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;25/03/2023 </span> <span class="elementor-post-avatar"> 2,105 Comments
                    </span> </div> -->
                <justify><p style="color: rgb(250, 250, 250);">&nbsp;&nbsp;Kindly contact your Project Director <br>for all your queries via email mail to
                    <br>keep track of all communication.</p></justify>
                <justify><p style="color: rgb(250, 250, 250);"> &nbsp;&nbsp;For payment emails please mail to "finance@kstewd.org" in subject <br>mention
                    your member ID and attach <br>all relevant payment screenshots <br>and docs for us
                    to update the payment.</p></justify>
                <p style="color: rgb(250, 250, 250);">&nbsp;&nbsp;Finance email is only for payment related <br>for all other queries please
                    contact your <br>Project Director.</p>
                <br>
                <br>


            </div>
            <div class="col-lg-3 col-md-12">
                <h5 class="mb-2" style="color: rgb(250, 250, 250);">Quick Links</h5>
                <a class="btn btn-link text-white" href="/page/about">About Us</a>
                <a class="btn btn-link text-white" href="/page/contact">Contact Us</a>
                <!-- <a class="btn btn-link text-white" href="/page/services">Careers</a> -->
                <a class="btn btn-link text-white" href="/page/privacy">Privacy Policy</a>
                <a class="btn btn-link text-white" href="/page/terms">Terms & Condition</a>
                <!-- <div>
                    <h5 class="text-white mb-2">Get In Touch</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Bangalore</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div> -->
                <br>
                <div>
                    <img src="{% static 'page/img/qr.png'%}" width="120px">
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <iframe class="position-relative rounded w-10 h-5"
                    src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d124372.47066874453!2d77.50840084513514!3d13.058590457823783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3bae19b874303f0f%3A0xeecc7eb313351c06!2s31%2F4%2C%2013th%20Main%2C%207th%20Cross%20Rd%2C%20E-Block%2C%20Sahakar%20Nagar%2C%20Bengaluru%2C%20Karnataka%20560092!3m2!1d13.0586054!2d77.5907933!5e0!3m2!1sen!2sin!4v1700396259449!5m2!1sen!2sin"
                    width="400" height="250" style="border:0;" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" frameborder="0" aria-hidden="false"></iframe>
            </div>
        </div>
    </div>
</div>