{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'common/bootstrap.html'%}
<style>
    a{
        color :black

    }
    @keyframes slideIn {
            0% {
                transform: translateY(-50px);
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
        .project-info {
            background-color: #0091D5;
            color:#ffffff;
            padding: 10px;
            margin-bottom: 20px;
            width: calc(25% - 20px); 
            box-sizing: border-box; 
            font-family: Arial, sans-serif;
            text-align: center; 
            border-radius: 9px; 
            animation: slideIn 0.5s ease-in-out;
        }
        .project-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 4%;
        }
        @media (max-width: 768px) {
            .project-info {
                width: calc(50% - 20px); /* Adjust the width to 50% for tablets */
            }
            .project-container {
                justify-content: center; /* Center items on smaller screens */
                margin-top: 2%;
            }
        }
        @media (max-width: 480px) {
            .project-container {
                flex-direction: column; /* Stack items vertically on mobile phones */
                align-items: center; /* Center items horizontally */
                margin-top: 1%; 
            }
            .project-info {
                width: calc(100% - 20px); /* Adjust the width to 100% for mobile phones */
                margin-bottom: 10px; /* Reduce margin for mobile phones */
                margin-top: 13px;
            }
        }
        
        
        .project-info h6 {
            margin-top: 0; 
            font-weight: bold;
        }
</style>
{% if message %}
<div style="text-align: center; margin-top: 200px;">
    <p style="font-size: 24px; color: #555;">{{ message }}</p>
</div>
{% else %}
<div class="project-container">
    {% for project in project_details %}
    <div class="project-info" >
        <h6>{{ project.name }} ({{ project.size }})</h6><hr>
        <p>Total Sq Feet: <b>{{ project.tot_sq }}</b> Sq Feet</p>
        <p>Number of Bookings: <b>{{ project.land_count }}</b></p>

    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}