{% extends 'site2/index.html' %}
{% block content %}
{% load static %}


<form class="space-y-5" method="POST" action="">
    {% csrf_token %}
    <label class="text-xl font-semibold dark:text-white-light p-2" style="background-color: blueviolet;"><b>Add User Role</b></label>
    <div class="panel">
        <div class="grid grid-cols-1 gap-4 xl:grid-cols-2">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-5"> 
                <div>
                    <label>Name</label>
                    <select >
                        <option>dgfiyhurt89uuuuuuuuudy9yhju1</option>
                        <option>2</option>
                        <option>3</optopn>
                        <option>4</option>
                    </select>
                </div>
                <div>
                    <label>Name</label>
                    <input type="text" name="name"  class="form-input" >
                </div>
                    <div>
                        <label>Read</label>
                        <input type="checkbox" class="form-checkbox" checked />
                    </div>
                    <div>
                        <label>Write</label>
                        <input type="checkbox" class="form-checkbox" checked />
                    </div>
                    <div>
                        <label>Update</label>
                        <input type="checkbox" class="form-checkbox" checked />
                    </div>
                    <div>
                        <label>Delete</label>
                        <input type="checkbox" class="form-checkbox" checked />
                    </div>
    
                
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-1 gap-5">
            <center><button type="submit" class="btn btn-primary text-lg font-semibold dark:text-white-light">Submit</button></center>
        </div>
    </div>
    
</form>




{% endblock %}