{% extends 'index.html' %}
{% block content %}
{% load static %}

<style>

</style>
<form class="space-y-5" method="POST" action="">
    {% csrf_token %}
    <label class="text-xl font-semibold dark:text-white-light p-2" style="background-color: blueviolet;"><b>Add User</b></label>
    <div class="panel">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-5"> 
            
            <div>
                <label>First Name</label>
                <input type="text" name="first_name"  class="form-input" >
            </div>
            <div>
                <label>Last Name</label>
                <input type="text" name="last_name"  class="form-input" >
            </div>
            <div>
                <label>User Role</label>
                <select class="form-control" name="role" >
                    <option value="">Select Role</option>                                
                    <option value="Admin">Admin</option>                                
                    <option value="User">User</option>                                
                    <option value="Customer">Customer</option>                                
                </select>
            </div>
            <div>
                <label>Mobile No</label>
                <input type="text" name="mobile_no"  class="form-input" >
            </div>
            <div>
                <label>Email</label>
                <input type="text" name="email"  class="form-input" >
            </div>
            <div>
                <label>password</label>
                <input type="text" name="password1"  class="form-input" >
            </div>
            <div>
                <label>Confirm Password</label>
                <input type="text" name="password2"  class="form-input" >
            </div>

            <div class="grid grid-cols-1 md:grid-cols-1 gap-5">
                <center><button type="submit" class="btn btn-primary text-lg font-semibold dark:text-white-light">Submit Application</button></center>
            </div>
        </div>
    </div>
</form>




{% endblock %}