{% extends 'index.html' %}
{% block content %}
{% load static %}
{% include 'common/bootstrap.html' %}
<style>
    a {
        color: black;
    }

    #divbox {
        box-shadow: 0px 0px 5px #007bff;
        border-radius: 1%;
    }
</style>
<form class="pt-5" method="POST" action="">
    {% csrf_token %}
    <div class="p-2" id="divbox">
        <div class="panel p-1">
            <h2 class="text-lg dark:text-white-light p-2 font-weight-bold mt-4 addproject"
                style="background-color: #178EF0;color:white; width:100%; text-align: center;">
                <b>CREATE BLOCKED SENIORITY</b>
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                <div class="p-1">
                    <label class="p-1">Project</label>
                    <input type="text" name="project" placeholder="Project" class="form-input">
                </div>
                <div class="p-1">
                    <label class="p-1">Seniority No</label>
                    <input type="text" name="seniority_no" placeholder="Seniority No" class="form-input">
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
                <div class="p-1">
                    <label class="p-1">Blocked Date</label>
                    <input type="date" name="blocked_date" placeholder="Blocked Date" class="form-input">
                </div>
                <div class="p-1">
                    <label class="p-1">Executive</label>
                    <input type="text" name="executive" placeholder="Executive" class="form-input">
                </div>
                <div class="p-1">
                    <label class="p-1">Customer Name</label>
                    <input type="text" name="customer_name" placeholder="Customer Name" class="form-input">
                </div>
            </div>
        </div>
        <div class="text-center p-3">
            <input type="submit" value="Create" class="btn btn-success mt-3 text-lg font-semibold dark:text-white-light"
                style="background-color: #178EF0;">
        </div>
    </div>
    </div>
</form>

{% endblock %}