{% extends 'index.html' %}
{% block content %}
{% load static %}
{% include 'common/bootstrap.html' %}
<style>
    a{
        color: black;
    }
</style>
<form class="pt-5" method="POST" action="">
    {% csrf_token %}
    <div class="p-2" style="border:solid; border-color: rgb(123, 123, 233); border-radius: 10px;">
        <div class="panel p-1">
            <h2 class="text-lg font-semibold dark:text-white-light p-1" style="background-color: rgb(138, 202, 167); border-radius: 9px;">
                <b>Update Blocked Seniority</b></h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                <div class="p-1"> 
                    <label class="p-1">Project</label>
                    <input type="text" name="project" value="{{block_update.project}}" placeholder="Project" class="form-input" >
                </div>
                <div class="p-1">
                    <label class="p-1">Seniority No</label>
                    <input type="text" name="seniority_no" value="{{block_update.seniority_no}}" placeholder="Seniority No" class="form-input" >
                </div>
            </div>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
                    <div class="p-1">
                        <label class="p-1">Blocked Date</label>
                        <input type="date" name="blocked_date" value="{{block_update.blocked_date}}" placeholder="Blocked Date" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Executive</label>
                        <input type="text" name="executive" value="{{block_update.executive}}" placeholder="Executive" class="form-input" >
                    </div>
                    <div class="p-1">
                        <label class="p-1">Customer Name</label>
                        <input type="text" name="customer_name" value="{{block_update.customer_name}}" placeholder="Customer Name" class="form-input" >
                    </div> 
                </div>
            </div>
            <div class="text-center p-3">
                <input type="submit" value="Update" class="btn btn-primary">
                    <input type="reset" value="Clear" class="btn btn-danger">
            </div>
        </div>
    </div>
</form>

{% endblock %}