{% extends 'index.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
{% include 'bootstrap.html' %}
<style>
    h6,input{
        margin-top: 15px;
        display: block;
    }
    a{
        color: black;
    }

    .divbox{
        box-shadow: 0px 0px 5px #007bff;
        border-radius: 1%;
    }

    .addproject{
        text-align: center;
        padding:15px 15px;
        font-size: 15px;
        font-weight: bold;
        background-color: #00c200;
        color: white;
    }
    
    .projectname{
        width: 100%;
        font-size: 15px;
        padding: 7px 0px;
        border: 1px solid lightgray;
        border-radius: 3%;
    }

    .plotsize{
        width: 100%;
        font-size: 15px;
        padding: 7px 0px;
        border: 1px solid lightgray;
        border-radius: 3%;
    }

</style>


<div class="divbox p-3 mt-2">
    <h3 class="text-lg dark:text-white-light p-2 font-weight-bold mt-4"
    style="background-color: #178EF0;color:white; width:100%;"> <center> ADD LAND INFORMATION</center></h3>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="grid pt-4 grid-cols-1 md:grid-cols-3 gap-5">
            <div>
                <label>Select Project</label><br>
                <select name="projectname" class="projectname mt-3" required>
                {% for project in projects %}
                    <option disabled selected hidden>Click to Select Project</option>
                    <option value="{{project.id}}">{{project.projectname}}</option>
                {% endfor %}
            </select>
            </div>
            <div>
                <label>Select Plot Size</label><br>
                <select name="plotsize" class="plotsize mt-3" id="plotsize" required>
                    {% for pltsize in pltsizes %}
                        <option disabled selected hidden>Click to Select Plot Size</option>
                        <option value="{{pltsize.id}}">{{pltsize.plotsize}}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label>Per Square Feet Amount</label>
                <input type="number" name="persquarefeetamount" id="cal" class="form-control" placeholder="Enter Per Square Feet Amount" required>
            </div>
        </div>
        <div class="grid pt-4 grid-cols-1 md:grid-cols-3 gap-5">
            <div>
                <label>Total Amount</label>
                <input type="number" name="totalamount" id="demo" class="form-control" placeholder="Total Amount" required readonly>
            </div>

            <div>
                <label>Down Payment</label>
                <input type="text" name="downamount" id="downpay" class="form-control" placeholder="Down Payment" readonly>
            </div>
            <div >
                <label>First Installment</label>
                <input type="number" name="firstinstallment" id="first" class="form-control" placeholder="First Installment" readonly>
            </div>
            <div >
                <label>Second Installment</label>
                <input type="text" name="secondinstallment" id="second" class="form-control" placeholder="Enter Second Installment" readonly>
            </div>
            <div >
                <label>Thrid Installment</label>
                <input type="text" name="thirdinstallment" id="thrid" class="form-control" placeholder="Enter Thrid Installment" readonly>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" value="Add Land Information" class="btn btn-primary mt-3 text-lg font-semibold dark:text-white-light" style="background-color: #178EF0;" id="submit-btn">
        </div>
    </form>
</div>
<script>
    $('#cal').change(function() {
        const inputValue = document.getElementById('plotsize');
        
        const input = inputValue.options[inputValue.selectedIndex].text;
        const numbers = input.split('X');
    
            if (numbers.length !== 2) {
                resultElement.textContent = "Invalid input format. Please use 'numberXnumber' format.";
                return;
            }
            const num1 = parseInt(numbers[0]);
            const num2 = parseInt(numbers[1]);
            
            if (isNaN(num1) || isNaN(num2)) {
                resultElement.textContent = "Invalid input. Please provide valid integers.";
                return;
            }
            const result = num1 * num2;           
            var setText= document.getElementById('cal').value;
            const total = result * setText;
            document.getElementById("demo").value=total;
            const downpayment = total/4;
            document.getElementById("downpay").value=downpayment;
            document.getElementById("first").value=downpayment;
            document.getElementById("second").value=downpayment;
            document.getElementById("thrid").value=downpayment;
        console.log(inputValue.options[inputValue.selectedIndex].text);
        console.log(numbers);
        console.log(result);
        console.log(total);
});
</script>

{% endblock %}